---
layout: page
title: "关于"
description: "「掌握大海战的人，才能掌握世界」"
header-img: "img/bg-me-2022.jpg"
header-mask: 0.3
multilingual: true
---

{% include multilingual-sel.html %}

<!-- 中文版本 -->
<div class="zh post-container">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- 英文版本 -->
<div class="en post-container">
    {% capture about_en %}
    For your Naval Commander Fixation, there are over 500 unique World War II era ship types to choose from. From the humble destroyer to the epic BB6 battleship, you can experience everything from destroyers, battlecruisers, battleships, aircraft carriers, submarines, and more. Each type has its own characteristics and roles!

    Choose from the USA, UK, France, USSR, and Italy. Start your Naval career in "舰队使命" with these countries, each having unique strengths and weaknesses to maintain a stable balance in the game. More countries and ships will be added in the future.

    With over a dozen combat modes and fleet battle systems, experience the thrill and honor of coordinated ship-to-ship combat.

    More combat modes and features will continue to be added to ensure "舰队使命" is always the best naval tactical simulation game.
    {% endcapture %}
    {{ about_en | markdownify }}
</div>

{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function () {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
